.am-layout {
  display: flex;
  min-height: 100vh;
}
.AMNcenter-box {
  width: 100%;
  max-width: 32.5rem;
  height: 2rem;
  border-radius: 0.375rem;
}

.am-sidebar {
  width: 20%;
  min-height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.am-main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.am-page {
  flex: 1;
}

.btn-section-explore {
  border-radius: 10px;
}

#btn-nav button.btn.btn-custom-red {
  background-color: #eb2f45;

  color: #ffffff;
}

#AMNlogo {
  filter: invert(100%) brightness(200%);
}

#AMNlogo2 {
  filter: invert(100%) brightness(200%);
}
